<!-- left-section.component.html -->

  <h3 class="section-title section-line ">
    <i class="icon-with-underline bi-person-workspace"></i>
    <button class="collapsible" (click)="toggleSection('educations')">EDUCATION</button>
  </h3>
  <app-education-item *ngIf="sectionsState['educations']"></app-education-item>

  <h3 class="section-title section-line">
    <i class="icon-with-underline bi-hammer"></i>
    <button class="collapsible" (click)="toggleSection('experiences')">JOB EXPERIENCE</button>
  </h3>
  <app-job-experience-item *ngIf="sectionsState['experiences']"></app-job-experience-item>
  <footer class="contact">
    <app-contact></app-contact>
  </footer>



