<h3 class="section-title section-line">
  <i class="icon-with-underline bi-pie-chart-fill"></i>
  <button class="collapsible" (click)="toggleSection('skills')">SKILLS</button>
</h3>
<app-skills *ngIf="sectionsState['skills']"></app-skills>

<h3 class="section-title section-line">
  <i class="icon-with-underline bi-flag"></i>
  <button class="collapsible" (click)="toggleSection('hobbies')">HOBBIES</button>
</h3>
<app-hobbies *ngIf="sectionsState['hobbies']"></app-hobbies>

<h3 class="section-title section-line">
  <i class="bi-book icon-with-underline"></i>
  <button class="collapsible" (click)="toggleSection('languages')">LANGUAGES</button>
</h3>
<app-languages *ngIf="sectionsState['languages']"></app-languages>

<h3 class="section-title section-line">
  <i class="bi bi-person-workspace icon-with-underline"></i>
  <button class="collapsible" (click)="toggleSection('references')">REFERENCES</button>
</h3>
<app-references *ngIf="sectionsState['references']"></app-references>
