<!-- right-section.component.html -->
<div class="col-md-4">
  <h3 class="section-title section-line">
    <i class="icon-with-underline bi-pie-chart-fill"></i><button class="collapsible">SKILLS</button>
  </h3>
  <app-skills></app-skills>
  <h3 class="section-title section-line ">
    <i class="icon-with-underline bi-flag"></i><button class="collapsible"> HOBBIES</button>
  </h3>
  <app-hobbies></app-hobbies>
  <h3 class="section-title section-line ">
    <i class="bi-book icon-with-underline"></i> <button class="collapsible"> LANGUAGES</button>
  </h3>
  <app-languages></app-languages>
  <h3 class="section-title  section-line">
    <i class="bi bi-person-workspace icon-with-underline"></i><button class="collapsible">REFERENCES</button>
  </h3>
  <app-references></app-references>
</div>
